#content {
  margin-left: auto;
  margin-right: auto;
  width: 63.212055882%;
  background-color: white;
}

#greeting-container {
  margin-top: 20px;
}

#greatWave {
    max-width: 100%;
}

body{
    margin:0;
}

#navBar {
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #434A4E;
}

li {
  float: left;
}

li a {
  display: block;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #0472b3;
}